<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title></title>
    <style>
        #bg{
    background-image: url('/home.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
}
    </style>
</head>
<body id= "bg">
<% if current_user %>
 Logged in as <%= current_user.email %>
 <%= link_to 'Log Out', logout_path %>
<% else %>
 <%= link_to 'Sign Up', signup_path %> or
 <%= link_to 'Log In', login_path %>
<% end %>
<p id='notice'><%= notice %></p>
</body>
</html>

