<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title></title>
</head>
<style>
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;500&display=swap');
*{
    box-sizing: border-box;
    font-family: cursive;
}
body{
    margin:0; 
}   
nav{
  width: 100%;
  height: 75px;
  background-color:black;
  line-height: 75px;
  padding:0px 100px;
  position:fixed;
  z-index: 1;
}
nav .logo{
  font-size: 100px;
  font-weight: bold;
  letter-spacing: 1.5px; 
}
nav .logo p{
  float:left;
  color:beige;
  text-transform: uppercase;
}
nav ul{
  float: right;
}
nav ul li{
  list-style: none;
}
nav ul li a{
  color:#fff;
  text-decoration: none;
  font-size: 13px;
  text-transform: uppercase;
  padding:0px 32px;
}
nav ul li a:hover{
  color:#c0d96f;
}
nav ul li .active{
  color:#c0d96f;
}
table ,td,th{
  border: 2px solid black;
}
table{
  border-collapse: collapse;
  width: 100%;
  margin-left: 50px;
  margin-right: 100px;
  margin-top: 80px;

}
th, td{
  text-align: left;
}
#bg{
    background-image: url('/bg.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
}
button{
  height: 20px;
}
a{
  color: white ;
}
h1{
  margin-left: 60px;
}
</style>
<body id="bg">
  <nav>
      <div class="logo">
         <p>JobsGuru.Com</p>
      </div>
      <ul>
         <li><a href="" class="active">home</a></li>
         <li><a href="../home/about">about us</a></li>
         <li><a href="../home/reviews">reviews</a></li>
         <li><a href="../home/contact">contact us</a></li>
         <li><a href="/">logout</a></li>
      </ul>
   </nav>


<div class="container">
<p id="notice"><%= notice %></p>

<h1>Locations</h1>

<table>
  <thead>
    <tr>
      <th>Designation</th>
      <th>Company</th>
      <th>Location</th>
      <th>Qualification</th>
      <th>Salary</th>
      <th>Experience</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @locations.each do |location| %>
   
      <tr>
        <td><%= location.designation %></td>
        <td><%= location.company %></td>
        <td><%= location.location %></td>
        <td><%= location.qualification %></td>
        <td><%= location.salary %></td>
        <td><%= location.experience %></td>
        <td><%= link_to 'Show', location %></td>
        <td><button><a href ="../apps/new">Apply</a></button></td>
        <td><%= link_to 'Edit', edit_location_path(location) %></td>
        <td><%= link_to 'Destroy', location, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<br>

<%= link_to 'New Location', new_location_path %>

<table>
 

  <thead>
     <h1>Hyderabad</h1>
    <tr>
      <th>Designation</th>
      <th>Company</th>
      <th>Location</th>
      <th>Qualification</th>
      <th>Salary</th>
      <th>Experience</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @locations.each do |location| %>
    <% if location.location=="Hyderabad" %>   
      <tr>
        <td><%= location.designation %></td>
        <td><%= location.company %></td>
        <td><%= location.location %></td>
        <td><%= location.qualification %></td>
        <td><%= location.salary %></td>
        <td><%= location.experience %></td>
        <td><%= link_to 'Show', location %></td>
        <td><button><a href ="../apps/new">Apply</a></button></td>
        <td><%= link_to 'Edit', edit_location_path(location) %></td>
        <td><%= link_to 'Destroy', location, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
      <% end %>
    <% end %>
  </tbody>
</table>

<br><br>

<%= link_to 'New Location', new_location_path %>
<h1>Karimnagar</h1>

<table>
  <thead>
    <tr>
      <th>Designation</th>
      <th>Company</th>
      <th>Location</th>
      <th>Qualification</th>
      <th>Salary</th>
      <th>Experience</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @locations.each do |location| %>
    <% if location.location=="Karimnagar" %>   
      <tr>
        <td><%= location.designation %></td>
        <td><%= location.company %></td>
        <td><%= location.location %></td>
        <td><%= location.qualification %></td>
        <td><%= location.salary %></td>
        <td><%= location.experience %></td>
        <td><%= link_to 'Show', location %></td>
        <td><button><a href ="../apps/new">Apply</a></button></td>
        <td><%= link_to 'Edit', edit_location_path(location) %></td>
        <td><%= link_to 'Destroy', location, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
      <% end %>
    <% end %>
  </tbody>
</table>

<br><br>

<%= link_to 'New Location', new_location_path %>

<h1>Vizag</h1>

<table>
  <thead>
    <tr>
      <th>Designation</th>
      <th>Company</th>
      <th>Location</th>
      <th>Qualification</th>
      <th>Salary</th>
      <th>Experience</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @locations.each do |location| %>
    <% if location.location=="Vizag" %>   
      <tr>
        <td><%= location.designation %></td>
        <td><%= location.company %></td>
        <td><%= location.location %></td>
        <td><%= location.qualification %></td>
        <td><%= location.salary %></td>
        <td><%= location.experience %></td>
        <td><%= link_to 'Show', location %></td>
        <td><button><a href ="../apps/new">Apply</a></button></td>
        <td><%= link_to 'Edit', edit_location_path(location) %></td>
        <td><%= link_to 'Destroy', location, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
      <% end %>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Location', new_location_path %>

</body>
</html>